/* navbar */

.navbar img {
  width: 70px;
}

.navbar-nav {
  margin-left: 70%;
}

/* jumbotron */
.jumbotron {
  background-image: url(image/tamanna-rumee-WArdwk7Lv_Y-unsplash.jpg);
  background-position-y: center;
  background-size: cover;
  height: 450px;
  margin-top: 0px;
}

/* about */

.about {
  margin-top: 10px;
}
h1 {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.about img {
  width: 50%;
}
p {
  font-family: "Poppins", sans-serif;
}

/* KELAS */
.kelas {
  background-color: #273036;
  min-height: 150px;
}

.kelas .kata {
  color: white;
}

.kelas h1 {
  color: white;
}

.kontak .container {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

.kontak img {
  width: 70px;
  box-shadow: none;
}

/* konten
.konten {
  margin-top: -50px;
}
.konten .container {
  margin-top: 40px;
  padding: 5px;
  width: 250px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  margin-right: 2px;
}

.konten .container div {
  width: 250px;
  height: 200px;
  background-image: url(image/pria.jpg);
  background-size: cover;
  box-sizing: border-box;
  margin: 2px;
} */

/* profil guru */
.guru {
  background-color: #273036;
  color: white;
  min-height: 400px;
}
.table {
  color: white;
}
.guru img {
  border-radius: 50%;
  border: 3px solid white;
}

/* .overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  background-image: url(image/bg.jpg);
  background-size: cover;
  z-index: 2;
  text-align: center;
  color: white;
} */
/* .overlay:target {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
} */

/* versi mobile */
@media (min-width: 576px) {
  .jumbotron {
    margin-top: -65px;
    background-position-x: center;
  }

  .about img {
    width: 80%;
  }
}
