body {
  background-color: rgb(255, 255, 80);
}
/* navbar */
.navbar img {
  width: 70px;
}

.navbar-nav {
  margin-left: 75%;
}
.nav-link {
  font-family: "Poppins", sans-serif;
}
/* home*/

.home {
  margin-top: 30px;
  background-color: rgb(255, 255, 80);
  margin-top: -5px;
}
.home img {
  width: 50%;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: black;
}
.row {
  padding-top: 20px;
}

.kontak .container {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

.kontak a img {
  width: 70px;
}

/* .about */
.about {
  background-color: rgb(227, 232, 238);
  min-height: 1000px;
  margin-top: -20px;
}
.about h1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.about p {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.about .konten-2 {
  margin-top: 30px;
}

.about .card {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* profil */

.footer {
  padding: 10px;
  text-align: center;
  background-color: black;
}

h2 {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: white;
}

/* .overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  background-image: url(image/bg.jpg);
  background-size: cover;
  z-index: 2;
  text-align: center;
  color: white;
} */
/* .overlay:target {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
} */

/* versi lain */
@media (min-width: 576px) {
  .about img {
    width: 80%;
  }

  p {
    font-size: 75px;
  }

  .about p {
    font-size: 20px;
  }
  .about {
    margin-top: -50px;
  }

  .about h1 {
    font-size: 40px;
  }
}
